rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /{document=**} {
      allow read, write: if false;
    }
    match /users/{userId} {
      allow read, write: if true;
    }
    match /config/{docId} {
      allow read, write: if true;
    }
    match /logs/{docId} {
      allow read, write: if true;
    }
    match /crawled_links/{docId} {
      allow read, write: if true;
    }
  }
}
